<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude('var')
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony'                      => true,
        '@PSR2'                         => true,
        'array_syntax'                  => ['syntax' => 'short'],
        'concat_space'                  => ['spacing' => 'one'],
        'binary_operator_spaces'        => ['default' => null],
        'yoda_style'                    => null,
        'phpdoc_no_package'             => false,
        'phpdoc_summary'                => null,
        'phpdoc_separation'             => false,
        'no_superfluous_phpdoc_tags'    => false,
        'phpdoc_align'                  => false,
        'single_line_throw'             => false,
    ])
    ->setUsingCache(false)
    ->setFinder($finder);